
h1 {
  position: absolute;
  top: 190px;
  left: 850px;
;
}

.color {
}

}

#pixel-board {
    width: 250px;
    position: absolute;
}


#color-palette {
  position: absolute;
  top: 260px;
  left: 870px;
}

body {
  margin-top: 300px;
  background-image: url('./gif.gif');
  background-size: cover;
}

#clear-board {
  position: absolute;
    padding: 2px;
    top: 330px;
  left: 940px;

   
}
